@charset "UTF-8";
*{margin: 0; padding: 0;}

main{
  overflow-x: hidden;
}

.hero_gallery{}
.hero_gallery_wrapper{
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  width: max-content;
  /* 내 자식 너비 다 가져 */
}